.linebar{
    display: inline-flex;
    // border: 1px solid gray;
    height: 6px;
    width: 100%;
    margin: 22px -24px;
    align-items: center;
}

.txt-off{
    color: #b3b3b3;
}

.bg-lt{
    background-color: #b3b3b3;
}