.item-shadow{
    box-shadow: 0 1px 3px 2px #8c959f26;
}

.orng-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    img{
        width: 120px;
    }
}

.mx-230{
    max-width: 230px;
}

// .org-grad{
//     background: linear-gradient(172deg,rgba(225, 243, 247, 1) 0%, rgba(255, 255, 255, 1) 75%);
// }