.item-shadow{
    box-shadow: 0 1px 3px 2px #8c959f26;
}

.tst-img{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    img{
        width: 150px;
    }
}

.owl-cont{

::ng-deep .owl-carousel .owl-item {
  max-width: 270px;
}

::ng-deep .owl-carousel .item-shadow {
  width: 100%;
  max-width: 270px;
  margin: auto;
}

::ng-deep .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 2px;
    pointer-events: none;
    /* allow clicks to pass through */
}

::ng-deep .owl-theme .owl-nav {
    margin-top: 0px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

::ng-deep .owl-prev, 
::ng-deep .owl-next {
    color: #FFF !important;
    font-size: 14px !important;
    margin: 5px !important;
    padding: 10px 8px !important;
    background: #c1c0c0 !important;
    display: inline-block !important;
    cursor: pointer !important;
    pointer-events: all !important;
}
::ng-deep .owl-prev {
    border-radius: 0 6px 6px 0 !important;
}
::ng-deep .owl-next {
    border-radius: 6px 0 0 6px !important;
}

::ng-deep .owl-theme .owl-nav .disabled {
    pointer-events: none !important;
    opacity: 0.15 !important;
    cursor: none !important;
}
}