<section class="appbanner">
    <img src="https://sastasundar.com/assets/images/lab-footer-banner.jpg" alt="">
    <div class="btnsec">
        <a href="https://play.google.com/store/apps/details?id=com.shtpl.sastasundar&amp;hl=en_IN">
            <img src="https://sastasundar.com/assets/images/g-play.png" alt=""></a>
        <!-- <a href="#"><img src="assets/images/app-store.png" alt=""></a> -->
        <a href="https://apps.apple.com/in/app/sastasundar-online-pharmacy/id6738185605" target="_blank">
            <img src="https://sastasundar.com/assets/images/app-store.png" alt=""></a>
    </div>
</section>
