.lab-btns {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #344054;
    min-width: 266px;
    padding: 8px 12px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.0509803922);
    margin-bottom: 10px;
    // cursor: pointer;
    border-radius: 6px;
}

.info-name{
    width: 140px;
}


.clr {
    clear: both;
}

.leftSec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 32px;
}

.hesdSec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eff8ff;
    padding: 10px 20px;
}

.dtlsSec{
    display: flex;
    justify-content: space-between;
    // background-color: #eff8ff;
    padding: 20px;
}

.status{
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    // line-height: 24px;
    background-color: #f2f4f7;
    border-radius: 6px;
}

.text-head{
    font-size: 14px;
    color: #475467;
    line-height: 18px;
    padding-bottom: 2px;
}
.text-inf{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.hline {
    min-width: 130px;
}