<div class="ssbody bg4 text-white">
    <div class="body-container">
        <div class="row g-4 w-100">
            <div class="col-md-5">
                <div class="mb-4">
                    <div class="footer-logo">
                        <!-- <img src="./assets/images/ss-logo.png" alt="SastaSundar Logo" class="img-fluid"> -->
                         <app-logo></app-logo>
                    </div>
                </div>
                <div class="text-offwhite">Your trusted online pharmacy committed to providing genuine medicines at affordable prices with reliable service across India.</div>
            </div>
            <div class="col-md-3">
                <div class="mb-4 fs-6 fw-5">Quick Links</div>
                <div class="mb-2">
                    <a class="nowrap text-offwhite text-decoration-none" href="{{ CommonService.baseurl }}pages/view/about-us">About Us</a>
                </div>
                <div class="mb-2">
                    <a class="nowrap text-offwhite text-decoration-none" href="{{ CommonService.baseurl }}pages/view/contactus">Contact</a>
                </div>
                <div class="mb-2">
                    <a class="nowrap text-offwhite text-decoration-none" href="{{ CommonService.baseurl }}pages/view/privacy-policy">Privacy Policy</a>
                </div>
                <div class="mb-2">
                    <a class="nowrap text-offwhite text-decoration-none" href="{{ CommonService.baseurl }}pages/view/privacy-policy">Terms of Service</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4 fs-6 fw-5">Customer Care</div>
                <div class="mb-2 text-offwhite"><span class="me-2"><i class="fa-solid fa-phone"></i></span>  628-90-90-000</div>
                <div class="mb-2 text-offwhite"><span class="me-2"><i class="fa-solid fa-envelope"></i></span> care&#64;sastasundar.com</div>
                <div class="mb-2 text-offwhite"><span class="me-2"><i class="fa-solid fa-headphones"></i></span> 24/7 Support Available</div>
            </div>
        </div>
        <div class="copy-write">
            © 2024 SastaSundar.com All rights reserved. Licensed Online Pharmacy.
        </div>
    </div>
</div>

