<div class="p-3 bg-body-tertiary mb-3">
    <div class="fw-semibold fs-5 mb-3">Order Genuine Medicines from SastaSundar: Your Trusted Online Pharmacy!</div>

    <div class="">
        <div class="mb-3">
            At SastaSundar, we believe that healthcare should be accessible and affordable to everyone, everywhere.
            Here you can buy medicines online, over-the-counter meds, and other healthcare essentials at a discounted rate. We
            ensure the fastest delivery of 100% genuine medicines, healthcare devices, wellness products, and more, to your
            doorstep.
        </div>

        <div class="fw-semibold fs-5 mb-2">What Can You Expect from Us?</div>
        <div class="mb-3">
            Whether you are looking for a glucometer or newborn baby care essentials, we have got you covered! You can
            order them just with a few taps. For any medicine, you just need to add a valid doctor's note and continue
            purchasing the products. We pledge to provide top-quality affordable online healthcare products to ensure optimum
            health to the furthest corner of our country.
        </div>
        <div class="fw-semibold fs-5 mb-2">Why Choose SastaSundar?</div>
        <div class="mb-3">
            Our commitment is to provide a seamless, safe, and affordable healthcare experience for everyone. Here's
            what sets SastaSundar apart:
        </div>
        <ul>
            <li>
                <strong>100% Genuine Online Medicines:</strong> We ensure that every product on SastaSundar is authentic
                and safe.
            </li>
            <li>
                <strong>Competitive Pricing:</strong> Quality shouldn't come at a premium, which is why we offer
                attractive discounts on all medicines and regular promotions on health essentials.
            </li>
            <li>
                <strong>Fast Delivery:</strong> Our efficient delivery network ensures that your health needs are met
                quickly and reliably.
            </li>
            <li>
                <strong>Easy Ordering Process:</strong> Our app interface is designed to make ordering as simple as a
                few taps. Easily search for products, add them to your cart, and place orders in minutes.
            </li>
        </ul>

        <div class="fw-semibold fs-5 mb-2">The Role of Our HealthBuddies in Online Medicine Delivery</div>
        <div class="mb-3">
            Our <strong>HealthBuddies</strong> play a helpful role in offering customers personalized healthcare
            support, delivering orders, providing consultations, product recommendations, and guidance on medicine use and health
            management.
        </div>
        <div class="mb-3">
            They connect with users to offer order assistance and take follow-ups, ensuring affordable and accessible
            healthcare. Our HealthBuddies contribute greatly to making our service reachable to every corner of the
            country.
        </div>

        <div class="fw-semibold fs-5 mb-2">Shop from Top Medicine Brands</div>
        <div class="mb-3">
            At SastaSundar, we have high-quality medicines from reputed brands, so you do not need to worry about
            authenticity. You can shop for a vast range of medicines, health and wellness products, Ayurvedic products,
            mother and baby care, and more under your budget.
        </div>

        <div class="fw-semibold fs-5 mb-2">Areas We Serve</div>
        <div class="mb-3">
            We aim to provide our service PAN-India. Our service is extremely active in Kolkata, Delhi NCR, Guwahati,
            etc. regions with the help of our trusted HealthBuddies, and efficient team.
        </div>

        <div class="fw-semibold fs-5 mb-2">Attractive Deals Await!</div>
        <div class="mb-3">
            We are offering attractive discounts throughout the year on different health products. Be it OTC medicines,
            wellness products, or day-to-day health essentials, you can get anything at a very reasonable price from us.
            Health is now available without breaking the bank.
        </div>
        <div class="mb-3">
            Choose our online pharmacy to get medicine delivery to your doorstep. Our motto is to become the most
            trusted and popular online pharmacy in India with our comprehensive medicine delivery and healthcare service.
        </div>
        <div class="mb-3">
            What are you waiting for? Buy medicines online from SastaSundar.com and install our app for more convenient
            services.
        </div>
    </div>
</div>
