.linebar{
    display: inline-flex;
    // border: 1px solid gray;
    height: 6px;
    width: 100%;
    margin: 30px -44px;
    align-items: center;
}

.lm-width{
    min-width: 130px;
}

.txt-off{
    color: #b3b3b3;
}

.bg-lt{
    background-color: #b3b3b3;
}

.info{
    font-size: 14px;
    font-weight: 400;
    // color: lightgray;
    line-height: 22px;
    margin-top: 10px;
}