.rltdimg-cont{
    // min-height: 130px;
    // border: 1px solid #f3f3f3;
    // border-radius: 6px;
    width: 120px;
    min-width: 120px;
    border-right: 1px solid #ebebeb;
}

.tag{
//   position: absolute;
//   top: 10px;
//   left: 8px;
  padding: 5px 12px;
  // border: 1px solid #c3c1c1;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  background-color: white;
}