<ng-container *ngIf="langContent.length > 0">
    <ng-container *ngFor="let rld of langContent">
        <div class="d-flex mb-3 hvr border rounded bx-shdw bg-white" (click)="viewArtical(rld.Permalink)">
            <div class="rltdimg-cont">
                <!-- <img [src]="rld.Content.Description[0]['Image']" width="100%" class="rounded" alt="..."> -->
                <img [src]="rld.HomePageSmallBanner" width="100%" class="rounded-start" alt="...">
            </div>
            <div class="px-3 py-2">
                <div class="tag" [style.background-color]="rld.ColorCode">{{rld.CategoryName}}</div>
                <div class="my-2 fw-5 line-clamp-2">{{rld.Content.Title}}</div> 
                
                <div class="fs-3 text-secondary">{{rld.UpdatedDate | date : "MMM yy"}}</div>
                <!-- <div class="d-flex align-items-center text-secondary text-secondary">
                    <span class="pe-3">
                        <span *ngIf="!rld.IsLiked"><i class="fa-regular fa-heart"></i></span>
                        <span *ngIf="rld.IsLiked"><i class="fa-solid fa-heart text-danger"></i></span>
                        {{rld.LikeCount}}
                    </span>
                    <span class="pe-3">
                        <span class="hvr"><i class="fa-regular fa-eye"></i></span>
                        {{rld.Viewcount}}
                    </span>
                    <span class="pe-3 hvr">
                        <span *ngIf="!rld.IsBookmarked"><i class="fa-regular fa-bookmark"></i></span>
                        <span *ngIf="rld.IsBookmarked"><i class="fa-solid fa-bookmark text-success"></i></span>
                    </span>
                </div> -->
            </div>
            
        </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="langContent.length == 0">
    <div class="text-center mt-4 py-5 bx-shdw">No Related Article Found</div>
     <!-- <app-not-found></app-not-found> -->
</ng-container>









        <!-- <div class="py-3">
            <div (click)="viewArtical(rld.Permalink)" class="hvr">
                <div class="rltdimg-cont">
                    <img [src]="rld.Content.Description[0]['Image']" class="img-fluid" alt="...">
                </div>
                <div class="my-3 fw-5 text-truncate">{{rld.Content.Title}}</div>
            </div>
            <div class="d-flex justify-content-between align-items-center text-secondary">
                <div class="pe-3">{{rld.CategoryName}}</div>
                <div class="d-flex justify-content-end align-items-center text-secondary">
                    <span class="px-2">
                        <span *ngIf="!rld.IsLiked" (click)="likeArticle(rld)" class="hvr"><i
                                class="fa-regular fa-heart fs-6"></i></span>
                        <span *ngIf="rld.isLiked" (click)="likeArticle(rld)" class="hvr"><i
                                class="fa-solid fa-heart fs-6 text-danger"></i></span>
                    </span>
                    <span class="px-2 hvr">
                        <span *ngIf="!rld.IsBookmarked" (click)="bookmarkArticle(rld)"><i
                                class="fa-regular fa-bookmark fs-6"></i></span>
                        <span *ngIf="rld.IsBookmarked" (click)="bookmarkArticle(rld)"><i
                                class="fa-solid fa-bookmark fs-6 text-success"></i></span>
                    </span>
                </div>
            </div>
        </div> -->
