<div class="p-3">
    <div class="row g-0 border rounded item-shadow ">
        <div class="col-5 bg-light left-rad">
            <div class="d-flex">
                <div class="imgSec">
                    <img src="https://sastasundar.com/assets/images/orderbymedicine.png" [alt]="" [title]="">
                </div>
                <div class="p-3">
                    <div class="fs-20 fw-7 mb-3">Order with Prescription</div>
                    <div class="mb-3">Upload prescription and we will do the rest for you!</div>
                    <div class="mb-2">
                        <button class="order-btn" (click)="orderByDoc()">Order Medicine</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 p-3">
            <div class="mb-3 fw-5">How does this work?</div>
            <div class="">
                <div class="mb-2">1. Upload a photo of your prescription</div>
                <div class="mb-2">2. Our licenced pharmacist will call you to confirm the medicines</div>
                <div class="mb-2">3. Your medicines will get delivered at your doorstep</div>
            </div>
        </div>
    </div>

    <!-- <div class="actn-grid">

        <div class="border rounded d-flex item-shadow">
            <div class="imgSec">
                <img src="https://sastasundar.com/assets/images/orderbymedicine.png" [alt]="" [title]="">
            </div>
            <div class="p-3">
                <div class="fs-20 fw-7 mb-3">Order Medicine</div>
                <div class="mb-3">Get genuine medicines at high discounts delivered to your doorstep</div>
                <div class="">
                    <button class="ordBtn">Order Medicine</button>
                </div>
            </div>
        </div>

        <div class="border rounded d-flex item-shadow">
            <div class="imgSec">
                <img src="../../../../assets/images/icons/orderbydocument.png" [alt]="" [title]="">
            </div>
            <div class="p-3">
                <div class="fs-20 fw-7 mb-3">Order via Document</div>
                <div class="mb-3">Upload document & get medicines delivered to your doorstep</div>
                <div class="">
                    <button class="ordBtn">Order by Document</button>
                </div>
            </div>
        </div>

        <div class="border rounded d-flex item-shadow">
            <div class="imgSec">
                <img src="https://sastasundar.com/assets/images/reordermedciine.png" [alt]="" [title]="">
            </div>
            <div class="p-3">
                <div class="fs-20 fw-7 mb-3">Re-Order</div>
                <div class="mb-3">Restock your frequently bought items with a single tap</div>
                <div class="">
                    <button class="ordBtn">Re-Order Medicine</button>
                </div>
            </div>
        </div>


    </div> -->
</div>