.item-shadow{
    box-shadow: 0 1px 3px 2px #8c959f26;
}

.tst-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    img{
        width: 90px;
    }
}

.btnS {
    width: 108px;
}

.pckg-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.lft-pnl{
    width: 240px;
    min-width: 240px;
    min-height: calc(100vh - 150px);
}