<div>
    <div class="position-relative px-3">
        
        <div class="input-group mb-1 hvr searchblockMob">
            <span *ngIf="!showSearchArea" class="search-icon"><i class="fa fa-search "></i></span>
        <span *ngIf="showSearchArea" class="search-icon hvr" (click)="cleareSearch()"><i class="fa-regular fa-circle-xmark fs-8"></i></span>
            <input #srchInput type="text" class="form-control" placeholder="Search for Medicines, Household Supplies, Tests & Health Packages"
                aria-label="Recipient's username" [(ngModel)]="searchText" (keyup)="onSearchChange($event)"
                (keydown)="onKeydown()">
        </div>
        <div class="searchHeight"></div>
    </div>

    <div *ngIf="allCount >0" class="fixed-bottom bottomDrawer">
        <div *ngIf="!multiCart" class="d-flex justify-content-between align-items-center p-3 bg-white rounded-top">
            <span>{{allCount}} item(s)</span>
            <span *ngIf="cartCount > 0 && labCount == 0" class="action-btn action-add" (click)="gotocartMob('customercart')">Go to cart</span>
            <span *ngIf="labCount > 0 && cartCount == 0" class="action-btn action-add" (click)="gotocartMob('labcart')">Go to cart</span>
            <span *ngIf="cartCount > 0 && labCount > 0" class="action-btn action-add" (click)="showMultiCart()">Go to cart</span>
        </div>
        <div *ngIf="multiCart" class="rounded-top bg-white">
            <div class="d-flex justify-content-between px-3 py-3 border-bottom border-secondary-subtle">
                <span class="fw-5 fs-5 pe-2">Your Carts</span>
                <span (click)="showMultiCart()" class="ct-text border border-dark"><i class="fa-solid fa-xmark fs-6"></i></span>
            </div>
            <div class="d-flex justify-content-between align-items-center p-3 hvr border-bottom " (click)="gotocartMob('customercart')">
                <span class="fw-5 pe-2">Medicine & Household Item(s)</span>
                <span class="ct-text bg-danger text-white">{{cartCount}}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center p-3 hvr" (click)="gotocartMob('labcart')">
                <span class="fw-5 pe-2">Lab test(s)</span>
                <span class="ct-text bg-danger text-white">{{labCount}}</span>
            </div>
        </div>
    </div>



    <div *ngIf="showSearchArea" class="SearchProducts">
        <div *ngIf="!labLoading">
            <div *ngIf="labtestList.length > 0" class="p-3 overflow-x-auto">
                <div class="lab-cont">
                    <ng-container *ngFor="let product of labtestList">
                        <div class="lab-block">
                            <div class="mb-2 d-flex hvr"
                                (click)="CommonService.getLabTestDetailsPageURL(product.PermalinkNew)">
                                <div class="lab-img">
                                    <img src="https://asset.sastasundar.com/incom/sspl_website/images/labicon.png"
                                        alt="" width="30px">
                                </div>
                                <div class="">
                                    <div class="fw-5 mb-1 text-truncate" style="width: 222px;">{{product.ServiceName}}
                                    </div>
                                    <div class="fs-3 orange-red">{{product.ReportText}}</div>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between align-items-center">
                                <div class="pe-2 w-100">
                                    <!-- <div class="fs-3 mb-1">
                                            <span *ngIf="product.IsHomeCollectionAvailable">Home Collection Available</span>
                                            <span *ngIf="!product.IsHomeCollectionAvailable">Lab Visit Only</span>
                                        </div> -->
                                    <div class="newCssPrice_add">
                                        <span class="mb-1 fw-5" *ngIf="product.OfferFees > 0">{{product.OfferFees | currency:
                                            'INR'}}</span>
                                    </div>
                                    <div class="newCssPrice_add">
                                        <span class="me-2 text-decoration-line-through text-secondary"
                                            *ngIf="product.Fees > product.OfferFees">{{product.Fees | currency:
                                            'INR'}}</span>
                                        <span *ngIf="product.DiscPercent > 0"
                                            class="orange-red">{{product.DiscPercent}}%
                                            Off</span>
                                    </div>
                                </div>
                                <div class="">
                                    <ng-container *ngIf="product.IsActive">
                                        <div *ngIf="product.IsAdded == false" class="action-btn  hvr btnS">
                                            <span class="addbutton-color fs-3" (click)="addLabTest(product)">BOOK NOW</span>
                                        </div>
                                        <div *ngIf="product.IsAdded == true" class="action-btn action-add btnS">
                                            <span class="item-text fs-3" (click)="deleteLabTest(product)">REMOVE</span>
                                        </div>
                                    </ng-container>
                                    <div *ngIf="!product.IsActive" class="text-lite fs-3">Discontinued</div>

                                </div>
                            </div>
                        </div>


                    </ng-container>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading" class="">
            <div *ngIf="searchList.length > 0" class="p-3">
                <ng-container *ngFor="let item of searchList">
                    <div class="pb-3 mb-3 border-bottom">
                        <div class="d-flex hvr w-100">
                            <div class="img-cont hvr"
                                (click)="CommonService.getProductDetailsPageURL(item.ProductId, item.DisplayName, item.PrescriptionOTC)">
                                <ng-container *ngIf="item.ProductImage != '' && item.ProductImage != null">
                                    <img src="https://asset.sastasundar.com/incom/images/product/thumb/{{item.ProductImage}}" alt width="100%">
                                </ng-container>
                                <ng-container *ngIf="item.ProductImage == '' || item.ProductImage == null">
                                    <!-- <img src="https://asset.sastasundar.com/incom/images/product/thumb/default_product1460098847.jpg" alt="" width="100%"> -->
                                    <img *ngIf="item.PrescriptionOTC == 'P' || item.PrescriptionOTC == 'M'"  src="https://asset.sastasundar.com/incom/images/product/thumb/Med.svg" alt="" width="100%">
                                    <img *ngIf="item.PrescriptionOTC == 'O'" src="https://asset.sastasundar.com/incom/images/product/thumb/Household.svg" alt="" width="100%">
                                </ng-container>
                            </div>
                            <div class="d-flex w-100 justify-content-between align-items-center ps-3">
                                <div class="w-100 hvr"
                                    (click)="CommonService.getProductDetailsPageURL(item.ProductId, item.DisplayName, item.PrescriptionOTC)">
                                    <div class="fw-5 mb-1 line-clamp-2">{{item.DisplayName}}</div>
                                    <ng-container *ngIf="item.IsOutOfStock == 'N'">
                                        <div class="text-secondary mb-1 fs-2">{{item.MfgGroup}}</div>
                                        <div class="text-secondary mb-1 fs-3">
                                            <span>Best Before: </span>
                                            <span>{{item.ExpiryDate | date: 'MMM yyyy'}}</span>
                                        </div>
                                        <div>
                                            <span class="me-2 fw-5" *ngIf="item.OfferPrice > 0">{{item.OfferPrice | currency:
                                                'INR'}}</span>
                                            <span class="me-2 text-decoration-line-through text-secondary"
                                                *ngIf="item.MRP > item.OfferPrice">{{item.MRP | currency: 'INR'}}</span>
                                            <span *ngIf="item.DiscountPercent > 0"
                                                class="orange-red">{{item.DiscountPercent}}% Off</span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="item.IsOutOfStock == 'Y'">
                                        <div class="text-secondary mb-1">Out Of Stock</div>
                                    </ng-container>
                                </div>
                                <div class="">
                                    <ng-container *ngIf="item.IsOutOfStock == 'N'">
                                        <div *ngIf="item.addedQty == 0" class="action-btn  hvr"
                                            (click)="addToCart(item, 1);">
                                            <span class="action-btn addbutton-color">ADD</span>
                                        </div>
                                        <div *ngIf="item.addedQty > 0" class="action-btn action-add">
                                            <span class="item-action" (click)="cartAddMinus(item)">&#8722;</span>
                                            <span class="item-text">{{item.addedQty}}</span>
                                            <span class="item-action" (click)="cartAddPlus(item)">&#43;</span>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="item.IsOutOfStock == 'Y'">
                                        <div class="notify-btn  hvr" (click)="requestNotify(item)">
                                            <span class="fw-5">Notify</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="item.PreferredSubtitute.length>0" class="bg-info-subtle lr-gap p-3 mt-2">

                            <div *ngIf="showSubs != item.ProductId"
                                class="d-flex justify-content-between align-items-center text-success"
                                (click)="displaySubs(item)">
                                <span class="pe-2"><img src="https://asset.sastasundar.com/incom/jito-health/assets/Images/jito-favicon.png" alt="" width="24px"></span>
                                <span class="pe-2 w-100">{{getMaxSavings(item.PreferredSubtitute)}}% lower price
                                    Alternative
                                    Available</span>
                                <span class="pe-2"><i class="icon-angle-down"></i></span>
                            </div>
                            <div *ngIf="showSubs == item.ProductId"
                                class="d-flex justify-content-between align-items-center text-success"
                                (click)="hideSub()">
                                <span><img src="https://asset.sastasundar.com/incom/jito-health/assets/Images/jito-favicon.png" alt="" width="24px"></span>
                                <span class="pe-2 w-100">{{getMaxSavings(item.PreferredSubtitute)}}% lower price
                                    Alternative
                                    Available</span>
                                <span><i class="icon-angle-up"></i></span>
                            </div>

                            <div *ngIf="showSubs == item.ProductId" class="bg-white ">
                                <ng-container *ngFor="let altr of item.PreferredSubtitute">
                                    <div class="product-block mt-3">

                                        <div class="tagline">Save {{altr.savingsPercent}}%</div>

                                        <div class="d-flex w-100 justify-content-between p-2">
                                            <div class="img-cont hvr"
                                                (click)="CommonService.getProductDetailsPageURL(altr.PreferredProductId, altr.DisplayName, altr.PrescriptionOTC)">
                                                <ng-container
                                                    *ngIf="item.ProductImage != '' && item.ProductImage != null">
                                                    <img src="https://asset.sastasundar.com/incom/images/product/thumb/{{altr.ProductImage}}"
                                                        alt width="100%">
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="item.ProductImage == '' || item.ProductImage == null">
                                                    <img src="https://asset.sastasundar.com/incom/images/product/thumb/default_product1460098847.jpg"
                                                        alt="" width="100%">
                                                </ng-container>
                                            </div>
                                            <div class="hvr w-100 ps-3"
                                                (click)="CommonService.getProductDetailsPageURL(altr.PreferredProductId, altr.DisplayName, altr.PrescriptionOTC)">
                                                <div class="mb-1 line-clamp-2">{{altr.DisplayName}}</div>
                                                <div class="text-secondary mb-1 fs-2">{{altr.MfgGroup}}</div>
                                                <div class="text-secondary mb-1 fs-3">
                                                    <span>Best Before: </span>
                                                    <span>{{altr.ExpiryDate | date: 'MMM yyyy'}}</span>
                                                </div>
                                                <div class="">
                                                    <span class="me-2">{{altr.CustOfferPrice | currency: 'INR'}}</span>
                                                    <span class="me-2 text-decoration-line-through text-secondary"
                                                        *ngIf="altr.MRP > altr.CustOfferPrice">{{altr.MRP | currency:
                                                        'INR'}}</span>
                                                    <span class="orange-red"
                                                        *ngIf="altr.CustDiscPercent > 0">{{altr.CustDiscPercent}}%
                                                        Off</span>
                                                </div>
                                            </div>
                                            <div *ngIf="altr.addedQty == 0 && item.addedQty == 0" class="action-btn hvr"
                                                (click)="addAlternative(altr, 1, item.PrescriptionOTC);">
                                                <span class="action-btn addbutton-color">ADD</span>
                                            </div>
                                            <div *ngIf="altr.addedQty == 0 && item.addedQty > 0" class="action-btn hvr"
                                                (click)="replaceAlternative(altr, item);">
                                                <span class="action-btn addbutton-color">Replace</span>
                                            </div>
                                            <div *ngIf="altr.addedQty > 0" class="action-btn action-add">
                                                <span class="item-action" (click)="subAddMinus(altr)">&#8722;</span>
                                                <span class="item-text">{{altr.addedQty}}</span>
                                                <span class="item-action" (click)="subAddPlus(altr)">&#43;</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="totalcount > searchList.length">
                    <div class="hvr text-primary text-center fw-5" (click)="loadMore()">Load More...</div>
                </ng-container>
            </div>
            <div *ngIf="searchList.length == 0" class="d-flex border rounded p-3 w-100 mt-3">
                <div class="px-3 me-3">
                    <span style="font-size: 50px;"><i class="fa-regular fa-bell text-secondary"></i></span>
                </div>
                <div class="d-flex w-100">
                    <div class="w-100">
                        <div class="fw-6 fs-5 mb-2 text-capitalize">{{searchText}} &nbsp;</div>
                        <div class="mb-2 text-secondary">New Product</div>
                    </div>
                    <div class="p-3">
                        <div class="notify-btn hvr" (click)="requestAddNew()">Notify</div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isLoading" class="search-list">
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>