<div class="p-3">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <ng-container *ngFor="let bnr of topBanner; let i=index">
                <div class="carousel-item" [ngClass]="i == 0?'active':''" (click)="bnrDtls(bnr.ActionUrl)">
                    <img [src]="bnr.imageUrl" class="d-block w-100 hvr" alt="...">
                </div>
            </ng-container>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
