<div class="article-sub bg-white">
    <div class="d-flex text-nowrap">
        <!-- <div class="nav-item">
                <a class="nav-link fw-5 " style="padding: 10px 17px; color: black;" routerLink="/healtharticle">Health
                    Articles</a>
            </div> -->
        <div class="nav-item">
            <a class="nav-link fw-5 " style="padding: 10px 17px; color: black;"
                routerLink="/healtharticle/health-topics">Health Topics</a>
        </div>
        <div class="nav-item">
            <a class="nav-link fw-5 " style="padding: 10px 17px; color: black;"
                routerLink="/healtharticle/trending">Trending Articles</a>
        </div>
        <!-- <div class="nav-item">
                <a class="nav-link fw-5 " style="padding: 10px 17px; color: black;"
                    routerLink="/healtharticle/bookmark">Bookmarks</a>
            </div> -->
        <div class="nav-item">
            <a class="nav-link fw-5 " style="padding: 10px 17px; color: black;"
                href="{{ CommonService.baseurl }}index.php/customercart">Order Medicines</a>
        </div>
        <div class="nav-item">
            <a class="nav-link fw-5" style="padding: 10px 17px; color: black;"
                href="{{ CommonService.baseurl }}index.php/lab-test">Lab Test</a>
        </div>
        <!-- <div class="nav-item">
            <a class="nav-link fw-5" style="padding: 10px 17px; color: black;"
                routerLink="/newlab-test">Lab Test</a>
        </div> -->
        <!-- <div class="nav-item">
            <a class="nav-link fw-5" style="padding: 10px 17px; color: black;"
                href="{{ CommonService.baseurl }}index.php/customerlabcart">Book Lab Test</a>
        </div> -->
    </div>

    <div class="pe-3 fw-5 text-nowrap">
        <span class="c-support"><strong><i class="icon-phone3"></i>&nbsp;628-90-90-000</strong></span>
    </div>
</div>