<div class="row g-0 bg-white py-3">
    <div class="col-md-4 p-3">
        <div class="footer-logo mb-3">
            <app-logo></app-logo>
        </div>
        <div class="mb-2 lnk-clr">For any complaints or inquiries, please reach out to our Customer Care team:</div>
        <div class="mb-2 lnk-clr">Call Us: 628-90-90-000</div>
        <div class="lnk-clr">Email: care&#64;sastasundar.com</div>
    </div>
    <div class="col-md-2 p-3">
        <div class="mb-3 text-uppercase fw-6">Company Overview</div>
        <div class="">
            <a href="https://sastasundar.com/pages/view/about-us" target="_blank" rel="noopener noreferrer">About Us</a>
        </div>
    </div>
    <div class="col-md-3 p-3">
        <div class="mb-3 text-uppercase fw-6">Customer Services</div>
        <div class="mb-2">
            <a href="https://sastasundar.com/user/apply_as_hb" target="_blank" rel="noopener noreferrer">Become A Healthbuddy</a>
        </div>
        <div class="">
            <a href="https://sastasundar.com/pages/view/contactus" target="_blank" rel="noopener noreferrer">Contact Us</a>
        </div>
    </div>
    <div class="col-md-3 p-3">
        <div class="mb-3 text-uppercase fw-6">Policies</div>
        <div class="mb-2">
            <a href="https://sastasundar.com/pages/view/disclaimer" target="_blank" rel="noopener noreferrer">Disclaimer</a>
        </div>
        <div class="mb-2">
            <a href="https://sastasundar.com/pages/view/grievance-policy" target="_blank" rel="noopener noreferrer">Grievance Policy</a> 
        </div>
        <div class="mb-2">
            <a href="https://sastasundar.com/pages/view/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        </div>
        <div class="mb-2">
            <a href="https://sastasundar.com/pages/view/terms_condition" target="_blank" rel="noopener noreferrer">Terms & Conditions</a>
        </div>
        <div class="mb-2">
            <a href="https://sastasundar.com/pages/view/return-cancellation-and-refund-policy" target="_blank" rel="noopener noreferrer">Return, Cancellation and Refund Policy</a>  
        </div>
        <div class="">
            <a href="https://sastasundar.com/pages/view/shipping" target="_blank" rel="noopener noreferrer">Shipping and Delivery Policy</a>   
        </div>
    </div>
</div>
