<div class="row g-0 bg-white">
    <div class="col-md-4 col-xl-5 p-3">
        © 2024 SastaSundar.com All rights reserved. Licensed Online Pharmacy.
    </div>
    <div class="col-md-4 col-xl-4 p-3">
        <div class="d-flex align-items-center">
            <span class="me-3">Keep in touch with us</span>
            <span class="me-3">
                <a href="https://www.facebook.com/profile.php?id=61567877662107" title="Facebook" target="_blank">
                    <img src="https://sastasundar.com/assets/images/facebook.png" alt="Facebook" width="20px">
                </a>
            </span>
            <span class="me-3">
                <a href="https://www.youtube.com/@SastaSundarApp" title="Youtube" target="_blank">
                    <img src="https://sastasundar.com/assets/images/youtube.png" alt="Youtube" width="20px">
                </a>
            </span>
            <span class="me-3">
                <a href="https://x.com/Sastasundarapp" title="Twitter" target="_blank">
                    <img src="https://sastasundar.com/assets/images/twtter-x.png" alt="Twitter-X" width="20px">
                </a>
            </span>
            <span class="me-3">
                <a href="https://www.linkedin.com/company/sastasundarapp/" title="linkedin" target="_blank">
                    <img src="https://sastasundar.com/assets/images/linkedin.png" alt="Twitter-X" width="20px">
                </a>
            </span>
        </div>
    </div>
    <div class="col-md-4 col-xl-3 p-3">
        <div class="d-flex">
            <div class="me-3 ">
                <a href="https://play.google.com/store/apps/details?id=com.shtpl.sastasundar&amp;hl=en_IN">
                    <img _ngcontent-ng-c1140052225="" src="https://sastasundar.com/assets/images/g-play.png" alt=""
                        width="120px">
                </a>
            </div>
            <div class="">
                <a href="https://apps.apple.com/in/app/sastasundar-online-pharmacy/id6738185605" target="_blank">
                    <img _ngcontent-ng-c1140052225="" src="https://sastasundar.com/assets/images/app-store.png" alt=""
                        width="120px">
                </a>
            </div>
        </div>
    </div>
</div>
