
.wallet-info{
    padding: 1rem;
    background-color: white;
    // margin-right: 12px;
    color: #034a83;
    min-height: 138px;
    // width: 140px;
    background: url(https://asset.sastasundar.com/incom/sspl_website/images/bg-balance.jpg) center/108px 78px;
}
.radius6 {
    border-radius: 6px;
}
.head-text {
    color: #344054;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}


.text-gray {
    color: #6f7273;
}

a, a:hover, a:focus,:focus {
    text-decoration: none;
    outline: none;
}

.db-header {
    background-color: white;
    padding: .4rem 1rem;
    margin-bottom: .1rem;
}

.breadcrumbSec {
    padding: 0;
    margin: 0px;

    & ul {
        display: inline-block;
        list-style: none;
        display: inline-flex;
        padding: 0;
        margin: 0px;

        & li {
            color: #667085;
            font-size: 12px;
            font-weight: 400;

            & a {
                color: #667085;

                &:hover {
                    color: #007DC9;
                }
            }

            &::after {
                content: "\f105";
                font-family: icomoon !important;
                padding-left: 8px;
                margin-right: 8px;
            }

            &:last-child {
                color: #344054;

                &::after {
                    content: "";
                }
            }
        }
    }
}