.item-shadow{
    box-shadow: 0 1px 3px 2px #8c959f26;
}

.tst-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    img{
        width: 90px;
    }
}

.btnS {
    width: 108px;
}

.mx-320{
    max-width: 320px;
}