.slide-img{
    min-height: 254px;
}

.trnd-img{
    width: 80px;
    min-width: 80px;
}
.tag-containers{
    position: absolute;
    top: 10px;
    left: 8px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.tag{
  /*position: absolute;*/
  top: 10px;
  left: 8px;
  padding: 6px 11px;
  // border: 1px solid #c3c1c1;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  background-color: white;
}